*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 /* Main menu css start  */

#ddm1{
    background-color: black;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 5px blue, 
                 6px 6px 5px green;

}

nav{
    background-color: rgb(62, 167, 167);
}
nav ul li{
    display: inline-block;
    position: relative;
    
    
}

nav ul li a{
    background-color:rgb(128, 226, 213);
    color: blue;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: .6s;

}

nav ul li a:hover{
    background-color: rgb(27, 2, 19);
}

/* Sub menu css start */

nav ul li ul{
    position: absolute;
    left: 10px;
    top: 150%;
    visibility: hidden;
    opacity: 0;
    transition: .6s;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 100%;
}

nav ul li ul li{
    display: block;
    border-bottom: 1px solid green;
    border-radius: 10px;
}

/* nav ul li ul li{
    display: block;
} */

